.App {
  padding: 0;
  margin: 0;
}

.input-bar {
  text-align: center;
  margin: 0 auto;
  height: 40px;
  width: 300px;
  margin-top: 10%;
  border-radius: 20px;
}

p {
  text-align: center;
  font-size: 12px;
  color: black;
}

.login {
  text-align: center;
  margin: 0 auto;
  display: none;
  border-radius: 10px;
}

.login-main {
  text-align: center;
  margin: 0 auto;
}
